<!doctype html>
<html>
  <%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="wrapper">

        <%= partial "nav-bar" %>

        <main class="content">
          <%= yield %>
        </main><!-- content -->

        <%= partial "footer" %>

    </div><!-- wrapper -->
  </body>
</html>