<li><%= link_to 'proyecto', 'http://www.ganarlamuela/proyecto.html', :class => "proyecto"%></li>
<li><%= link_to 'candidatura', 'http://www.ganarlamuela/candidatura.html', :class => "candidatura"%></li>
<li><%= link_to 'programa', 'http://www.ganarlamuela/programa.html', :class => "programa"%></li>
<li><%= link_to 'actualidad', 'http://www.ganarlamuela/actualidad.html', :class => "actualidad"%></li>
<li><%= link_to 'Plaza La Muela', 'http://www.ganarlamuela.com/plaza-la-muela', :class => "participa", :target => "_blank" %></li>
<li><%= link_to 'f', 'https://www.facebook.com/search/str/ganar%20la%20muela/keywords_top', :class => "icon facebook", :target => "_blank" %></li>