<li><%= link_to 'proyecto', '/proyecto.html', :class => "proyecto"%></li>
<li><%= link_to 'candidatura', '/candidatura.html', :class => "candidatura"%></li>
<li><%= link_to 'programa', '/programa.html', :class => "programa"%></li>
<li><%= link_to 'actualidad', '/actualidad.html', :class => "actualidad"%></li>
<li><%= link_to 'Plaza La Muela', 'http://www.ganarlamuela.com/plaza-la-muela', :class => "participa", :target => "_blank" %></li>
<li><%= link_to 'f', '/facebook.html', :class => "icon facebook" %></li>